Main/Finans/Bars.KP50.CLI.Finans/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Nebo/Bars.KP50.CLI.Nebo/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/QUEUE/Bars.KP50.Queue/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/QUEUE/Bars.QueueCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Main/QUEUE/Bars.RabbitMq/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.CLI.Report/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.Astra/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.Handlers/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.Main/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.MariEl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.Samara/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report.Tula/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Report/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.KP50.Utils/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Report/Bars.Report.Soft/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Sprav/Bars.KP50.CLI.Sprav/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Admin/Bars.KP50.CLI.Admin/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Adres/Bars.KP50.CLI.Adres/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Counters/Bars.KP50.CLI.Counters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Main/DATA/CLASS/GLOBALS/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/DATA/IFMX/Client/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/DATA/IFMX/Common/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/DataImport/Bars.KP50.CLI.DataImport/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/DataImport/Bars.KP50.CLI.OneTimeLoad/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Debitor/Bars.KP50.CLI.Debitor/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Exchange/Bars.KP50.CLI.Exchange/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Faktura/Bars.KP50.CLI.Faktura/obj/Debug PG/DesignTimeResolveAssemblyReferencesInput.cache
Main/Faktura/Bars.KP50.CLI.Faktura/obj/Debug PG/
Main/Nebo/Bars.KP50.CLI.Nebo/obj
Main/Finans/Bars.KP50.CLI.Finans
Main/QUEUE/Bars.KP50.Queue/obj
Main/Report/Bars.KP50.CLI.Report/obj
Main/Report/Bars.KP50.Report.MariEl/obj
Debug PG/*
