  <appSettings>
 <add key="connString" value="Server=LinePG;Port=5432;User Id=postgres;Password=postgres;Database=aksubaevo;Preload Reader=true;" />
 <add key="psql" value="C:\\Program Files (x86)\\pgAdmin III\\1.18\\psql" />
<add key="server" value="LinePG" />
<add key="database" value="aksubaevo" />
<add key="port" value="5432" />
<add key="user" value="postgres" />
<add key="password" value="postgres" />
   </appSettings>