<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="${basedir}/Logs/${date:format=yyyy-MM-dd}" />
    <variable name="simpleLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}" />
    <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message} ${exception:format=ToString}" />
    <targets>
      <target name="infoLog" xsi:type="File" fileName="${logDir}/info.log" layout="${simpleLayout}" />
      <target name="warnLog" xsi:type="File" fileName="${logDir}/warn.log" layout="${simpleLayout}" />
      <target name="errorLog" xsi:type="File" fileName="${logDir}/error.log" layout="${detailedLayout}" />
      <target name="fatalLog" xsi:type="File" fileName="${logDir}/fatal.log" layout="${detailedLayout}" />
      <target name="debugLog" xsi:type="File" fileName="${logDir}/debug.log" layout="${detailedLayout}" />
    </targets>
    <rules>
      <logger name="*" levels="Info" writeTo="infoLog" />
      <logger name="*" levels="Debug" writeTo="debugLog" />
      <logger name="*" levels="Warn" writeTo="warnLog" />
      <logger name="*" levels="Error" writeTo="errorLog" />
      <logger name="*" levels="Fatal" writeTo="fatalLog" />
    </rules>
  </nlog>
</configuration>