<connectionStrings>
  <add name="W1" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNiwO5G2yW-uZQ2p8FrN0SvJAdWMM2GdTuvM8aiqb_FsgnyY3XUXJH_kir9EbHtR4tqrz9vicYEkfQMS3G0QrO8jM1Gt2uBlaYUkj5aRaK_jwliSDiyK-Q5dhcXXGmks3leLEMiW7_QVfmOyJsWHXbie0YJf4_GQm1X4WRJjmrSDoImfBb0vP9nBiE7cK6RCztDq8dFaD42htn0C04w9nfzI=" />
  <add name="W2" connectionString="FOW9KhF8RVDp9SkkR4SOvX2vFhFDhgb-ESQLtW9FuXGqVMsTokjHSEdHD7BZnME2" />
  <add name="W3" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4dUA-1GAL4h4416WNGd8z60szmq7sinSCDc7KzcjPaCNJpD5Kvkskv6r7x2LoHnc6w=" />
  <add name="L1" connectionString="ibYA959rg8UtZK_gO5MWrUicb7y6R4vcZ7TrsgaALtelNAXCPGiK76xZp6vg1FGsHBLqknl_Qk2_Yu7Fh2PVekQ3BzV_MEUkMdFGTtRdfoGBY50djHHcwinD5-WmFwQRjl2knzikUWIEmsG8-DWQhJXBONBaCDfCdx5TNdBdgpNe6qLjg15LqKpknlOnjH6EgwAlyDkswSUWORWgKyvYFwAh9Yc1WCFwDiP3cfWSSuBpJNaEdNLL9F_hZQCg6j9T2zhcGxUykgVp4rzMPLe4TPABBFLLEotzeNHiu7kT_XR8BFOQlpbbXCeJqoLLIgRdt2W2hM6_yMf4DLco8d1oyNFwT3l-K74iieB2IdcOhI_ghG0opbJ2nhH6ktw1hFpBeVGebpFvNmWVlIT9P1qNQDa6MsyIYuHUYakqXCFvsJ6yWUKa0FvSLK2UOJU_-MnCzLgIkTAzINvPmi99CJfWcri7tCQdZo7PIfs9kD2ISr1cRyW4EXKOOQpC7pVEBL2D2vQ8429Geqft45873RDl85vFKzD_i5WeVMtZr7XhakVv7HGaq-Klt973gxDMP-9HHbGjf4WJM8V_WSX3PxhvOpXso9LlSbeLELVcklnkN_k=" />
  <add name="L2" connectionString="-mc8BE6ggl2zmmbLsU8bdBqh9jeiYYUvUFH2kBQYTCc=" />
  <add name="L3" connectionString="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPmCMopyOOECOZE1mdIj_PJeXsmHv5CfL51bu2TENyGmQ==" />
  <add name="W1 webpriv@ol_rubin" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNjHPxWPZt_Ml866SsAFkfoQAn5It3jKZOP_PaXAdvHuh4YJPLZoNmIECyzQsjR0dzhyDsm6FdBir0leaEqynKMYwoirw_Z7e5o3zJ1PvG9JEx9y9LwdGls2kJSTuQePo5cUyFWImHQoU0yo4PF8u8-wz3XEWAlE39ndK3YN529IpE2JztJJV98xosisIA0Tsx4XinraIrYZkUPagXFW9mUc=" />
  <add name="W1 webavia@ol_aidar" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNjk5-QTo0VCgxpSFBeFkeEYY_MfaTXgnTX4aOfTMFXJNJsgga_F1AQLWjzCfcpWoF_xDFK6iUpaB_2_B2aAtS3LSuV9-EvBJdKSCoAnoP9MMPuI_pjvoN90T6xJ8BDpfWjqJ9NLtWBS_zJVFT4fbQdRs1T5w-xYh6ICWwZn_oIEa22MJ_q30cVBVatkqD46xANpj9Ubz_f1dYXkw8vrf9O8=" />
  <add name="W1 websav@ol_aidar" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNm52XhpMWvIhYkyhjzEIdaiaPoJwI--OF5SO3QHrX26qu1DYXIYW24XQDS2KU7hG7YQ0FOcJctt0UwHCCuoDk0sMftaAzJS5MFV9jFilSQ9vyEHRgYMVHdbxSSEsyaGZKnLCpTQRGOGXs9modceMsdLYvfVCSHir1JfNkspkj9nW-6kpoZCLKDMZqsJFaogfXwrqLsrmzg5rYoEX11M72ho=" />
  <add name="W1 webzel@ol_aidar" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNiwO5G2yW-uZQ2p8FrN0SvJAdWMM2GdTuvM8aiqb_FsgnyY3XUXJH_kir9EbHtR4tqrz9vicYEkfQMS3G0QrO8jM1Gt2uBlaYUkj5aRaK_jwiSUE2l4amqoS3z2ponHhvdEZj38H--a4JDjHdQ6Gyo5vS7exNmPkaT903sNyP5ct-f4IvQMdc3wo8WSQLaOKa19SgJa-adQFiothG7Yv9eU=" />
  <add name="L1 aidar" connectionString="ibYA959rg8UtZK_gO5MWrfdLEp9MtGIdtw2TtR8W1GoXar102lrQzJ9Lnh4yo4HQHHISoCKrkOAfAcatQrgryXNHpice-gwabkEsX7ohOSLF2g_dqHsBxCxgFKzz7Y2DMWHDzkiaRixPFLLht7P_MLvBTcvUFRXyLiT6mNt_EdINubx7RlqC8hrXZ5bft_pSPVOEpPc4zrEop-DKKvA-6IEbD14k0674tbhpKzvbzflxAJG3ru9BlrS6N-KzuaTtNs0xjF9pRYn22-bd-I_OxUGwueLnnYUGJjlH06aRGVakDwI3Cs7VgXjg6_Y0N36ZxzvSM4-jzdT7wP42gUPm1mirgggtLlgjvVM-2QccFEf2mhA53Ire-qYcl_v8l4sXuD749IRm51fNU4-YmWQ0bPYhiI_jbvRWXO8wSF4uvX50U-whqw_d8fj_9Y7wuUtWN380ANejkebyuGKGTGW15-gR4HkUKAbN3rYqYHxpZQU9IRhlvrG4tVSrtXEROxftwOiLkKFmvvwJavn0RYHzkYthIYROUCAP4w_aOqE0IlrE33PJvdIQFrGvYJROOe2zEXvR1T0iPfhGosw5jMM_PELv8a-oP9CpArY6oPYRI10=" />
  <add name="L2 aidar" connectionString="FOW9KhF8RVDp9SkkR4SOvX2vFhFDhgb-ESQLtW9FuXGqVMsTokjHSEdHD7BZnME2" />
  <add name="L3 aidar" connectionString="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPmCMopyOOECOZE1mdIj_PJeXsmHv5CfL51bu2TENyGmQ==" />
  <add name="L1 tk" connectionString="ibYA959rg8UtZK_gO5MWrcman_gHc1BRawKoP1rFRGbW4q_42B018AMFB8-egJMNci476EXGCuxZTWGLcv8EM5Wwm6x5X4ezlkH4LBGOrtDMlFMD1sY3Q7wFwEeUAFFOCOQ5X88CyVnujdxZ_cIVwsdoUGtE1rvVkM5k7wPyXMjc8cysld7DfYHWNbgZYoEeqV1NRAUctl4A4dQHaW4dpnRhAwI__8rXjb_iUn_RcJBR5qUw7WjoSlsGzWjgnFU4kQVVyyO0Aa9IoW8pqi0hy8krsA8vikuQl7NX4Ue7jcZJnaHBFEJYysgZQzXEEaVQ865WnZHcx8dMNK39uUosvsvVMtQil-udTRggwnNLyS4splQqdbj4208pFiqGm1fMr9XisOypQqasYFWOZ-lvpDd-SVhYxpD--E4cM0Fxi-XW9uQz_K6WKRBTCUFKZGSF-67SySOE0Wlk288dtCEA8rwM6TIHHjYtZOmimezyg8DRrQ_kTwAUigVj9WEEX9A6kIpyv-VxVJUTiyIqBy87-eLkmvb7r6Pij9JOxnEO_DOA_rrXT1IxLBDo1psitJDGRoLaYQMraKe3-3rc8t2Ajlw1XcBw3Dp_S2Ugnj2ktqTahG1Bk9LLfB_82oTxKits" />
  <add name="L2 tk" connectionString="FOW9KhF8RVDp9SkkR4SOvX2vFhFDhgb-ESQLtW9FuXGqVMsTokjHSEdHD7BZnME2" />
  <add name="L3 tk" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLlpui3fBvhsFGBH3TRYpl9Q==" />
  <add name="L1 zn" connectionString="ibYA959rg8UtZK_gO5MWrfdLEp9MtGIdtw2TtR8W1GoXar102lrQzJ9Lnh4yo4HQHHISoCKrkOAfAcatQrgryXNHpice-gwabkEsX7ohOSLF2g_dqHsBxCxgFKzz7Y2DMWHDzkiaRixPFLLht7P_MLvBTcvUFRXyLiT6mNt_EdINubx7RlqC8hrXZ5bft_pSPVOEpPc4zrEop-DKKvA-6IEbD14k0674tbhpKzvbzflxAJG3ru9BlrS6N-KzuaTtNs0xjF9pRYn22-bd-I_OxUGwueLnnYUGJjlH06aRGVakDwI3Cs7VgXjg6_Y0N36ZxzvSM4-jzdT7wP42gUPm1mirgggtLlgjvVM-2QccFEf2mhA53Ire-qYcl_v8l4sXuD749IRm51fNU4-YmWQ0bPYhiI_jbvRWXO8wSF4uvX50U-whqw_d8fj_9Y7wuUtWN380ANejkebyuGKGTGW15-gR4HkUKAbN3rYqYHxpZQU9IRhlvrG4tVSrtXEROxftwOiLkKFmvvwJavn0RYHzkYthIYROUCAP4w_aOqE0IlrE33PJvdIQFrGvYJROOe2zEXvR1T0iPfhGosw5jMM_PELv8a-oP9CpArY6oPYRI10=" />
  <add name="L2 zn" connectionString="FOW9KhF8RVDp9SkkR4SOvX2vFhFDhgb-ESQLtW9FuXGqVMsTokjHSEdHD7BZnME2" />
  <add name="L3 zn" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLlpui3fBvhsFGBH3TRYpl9Q==" />
  <add name="L1:aidar" connectionString="ibYA959rg8UtZK_gO5MWrb7eYoekx6YWkSwY0sgLEC5pMGtRhChx2MFT5rnE071h9jvtYSpIvQXnB_9QURQKIMrYPZXP_cwUUz2u65xLQcpN-fwM1vhbEtdjcrfN46H-UseUjk9CQoMJmqu2_-c6uqgcrFmrcMM0t2SgrvK-C2kPt4r-ksUZ3ffbDM4XWjtzjCwRxk7N2E7Lr2lhJ9f8C_vcIYiIH3BOCPGEOxgzovoP5CavuD6XYnwTL7gf93TGA-zywDkFuBWRXFJTpGePtSfD6CBd-d_RH5tcuFJR2QJmlh0ppCcWmhd6qdqvq1uGd1Egnf0nLYMubRKMbmJthlNdnhb03K2w_HEygErsTQcrkMFefgYIuIeKk_QxI182x0n_2BpGZCr3Uu4t2qRPghBazDPYfRoSwRsOD1ElEVvUqUdgTED0HX5w5fk6zCWSRhqHdPY334bNE4ICbkKlr0U3ruqax1aeX9uhk8lp0s1T-DIeMBr4dxPkzRGp6WTTIzToN7xbTCw-vwtWNkLLgSftHqZDP1nOnTA2Dnycv0xpsEkwyydONEutjOJIX9FQAxSTRmQHD1U8Lyv73vYv5WOCrGjYD7eCkrA6KZczcthqa2qrCxCQiaf7ByJzlTiA" />
  <add name="L1:bars" connectionString="ibYA959rg8UtZK_gO5MWrZrChoQxgn71L2aAjPcgbXP9ikERnKAkpdxhXUoakxP8FbWfkh_wE-VuzMuGerGoIjEcjhvbBAoA4Oq0iu2-7kNQJ5aoZF8YtKIybqP-fitwHZmmlcjHWTGdXZx3-JxeBIOiUCBu_iUxCKD7y9yWkFFUeY6WkZS6N7K8iiwU2Kh8H9Feh20Ncrks4E8_ISOVYHJgu_aUoVgT41blwwGdf0b0-ISCGcth4meJwD_BT60gGFjoZ76l-qTCEQlhCzeI-_q2vPaBF0Mmf3EXGTX7S8mfu9nK04SjG1zWPp68-1te1McVm_nJ7Zgq7TDJqW3_Bp3BAV2xyT5MD10UYHQSd6xPgMNEHnF1IRZoagE0RbnPClAyW4dz8jxXTuq4MVkaZphP629-JY912xhq-nLwi_cvdpp2XYitGooQrOkAlf-dkdule_NPM6SKDNiHbPNRgzMtDPDwR8wlaTUaiHsLIpTv7GmSmED6E5R-lJ4ipxYw9UP7DYPoKJeQV7Ej-EvNBiQYJpDdn5irEoKX8RWwZHa6D4SYzn3l6y3cSyPiO5G3HOBLLqaTwkf1VTY0culgAbHsPQel-kdbWSAp0P2w3hY=" />
  <add name="L1:zenit" connectionString="ibYA959rg8UtZK_gO5MWrfdLEp9MtGIdtw2TtR8W1GoXar102lrQzJ9Lnh4yo4HQHHISoCKrkOAfAcatQrgryXNHpice-gwabkEsX7ohOSLF2g_dqHsBxCxgFKzz7Y2DMWHDzkiaRixPFLLht7P_MLvBTcvUFRXyLiT6mNt_EdINubx7RlqC8hrXZ5bft_pSPVOEpPc4zrEop-DKKvA-6IEbD14k0674tbhpKzvbzflxAJG3ru9BlrS6N-KzuaTtNs0xjF9pRYn22-bd-I_OxUGwueLnnYUGJjlH06aRGVakDwI3Cs7VgXjg6_Y0N36ZxzvSM4-jzdT7wP42gUPm1mirgggtLlgjvVM-2QccFEf2mhA53Ire-qYcl_v8l4sXuD749IRm51fNU4-YmWQ0bPYhiI_jbvRWXO8wSF4uvX50U-whqw_d8fj_9Y7wuUtWN380ANejkebyuGKGTGW15-gR4HkUKAbN3rYqYHxpZQU9IRhlvrG4tVSrtXEROxftwOiLkKFmvvwJavn0RYHzkYthIYROUCAP4w_aOqE0IlrE33PJvdIQFrGvYJROOe2zEXvR1T0iPfhGosw5jMM_PELv8a-oP9CpArY6oPYRI10=" />
  <add name="L1:rubin" connectionString="ibYA959rg8UtZK_gO5MWrcman_gHc1BRawKoP1rFRGbW4q_42B018AMFB8-egJMNci476EXGCuxZTWGLcv8EM5Wwm6x5X4ezlkH4LBGOrtDMlFMD1sY3Q7wFwEeUAFFOCOQ5X88CyVnujdxZ_cIVwsdoUGtE1rvVkM5k7wPyXMjc8cysld7DfYHWNbgZYoEeqV1NRAUctl4A4dQHaW4dpnRhAwI__8rXjb_iUn_RcJBR5qUw7WjoSlsGzWjgnFU4kQVVyyO0Aa9IoW8pqi0hy8krsA8vikuQl7NX4Ue7jcZJnaHBFEJYysgZQzXEEaVQ865WnZHcx8dMNK39uUosvsvVMtQil-udTRggwnNLyS4splQqdbj4208pFiqGm1fMr9XisOypQqasYFWOZ-lvpDd-SVhYxpD--E4cM0Fxi-XW9uQz_K6WKRBTCUFKZGSF-67SySOE0Wlk288dtCEA8rwM6TIHHjYtZOmimezyg8DRrQ_kTwAUigVj9WEEX9A6kIpyv-VxVJUTiyIqBy87-eLkmvb7r6Pij9JOxnEO_DOA_rrXT1IxLBDo1psitJDGRoLaYQMraKe3-3rc8t2Ajlw1XcBw3Dp_S2Ugnj2ktqTahG1Bk9LLfB_82oTxKits" />
  <add name="W1 webzel@ol_ircas" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNiwO5G2yW-uZQ2p8FrN0SvJAdWMM2GdTuvM8aiqb_FsgnyY3XUXJH_kir9EbHtR4tqrz9vicYEkfQMS3G0QrO8jM1Gt2uBlaYUkj5aRaK_jwfStBSHITpLL2YjVgOs5qh-VyyASQ3KsXInraITUYHhISKm_6GiY4FW1hi3-aQCtB52j0-6WuJOC6djJ84guEfn6NMHNKr8yDbBxqZJeIZEI=" />
  <add name="W1 webzel@ol_bars" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNiwO5G2yW-uZQ2p8FrN0SvJAdWMM2GdTuvM8aiqb_FsgnyY3XUXJH_kir9EbHtR4tqrz9vicYEkfQMS3G0QrO8jM1Gt2uBlaYUkj5aRaK_jwliSDiyK-Q5dhcXXGmks3leLEMiW7_QVfmOyJsWHXbidj1WLG2lDlsqeAmWSS4FHfXA5NtYKKbXt61Z3liCpfa-1SLYeHivbWJcmxIq3IEbU=" />
  <add name="W1 webzel@ol_rubin" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNiwO5G2yW-uZQ2p8FrN0SvJAdWMM2GdTuvM8aiqb_FsgnyY3XUXJH_kir9EbHtR4tqrz9vicYEkfQMS3G0QrO8jM1Gt2uBlaYUkj5aRaK_jwB0qPI2oxNA6wDn5BhOoYlMCFPUFiUEomUYoSILOMMhXi0hk6A4NZBrtcEuRPeE3_rxhLqbu9zHFSFYoZkNLH0FW7h4tcJCRgDr5OsKV3iYM=" />
  <add name="W3 192.168.2.3:8001" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLqFYjtd9KN7yAl_1eB3NjKw==" />
  <add name="W3 192.168.2.3:8002" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLBU0pCp3fjn1EyqD7MxDbzQ==" />
  <add name="W3 192.168.2.3:8003" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLlpui3fBvhsFGBH3TRYpl9Q==" />
  <add name="W3  Bars 1.12:8008" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4due6XGzVhl9zMVZQeAI1RrVxv6C59zPCQjbrvmebNyYQ==" />
  <add name="W3  localhost:8008" connectionString="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPmCMopyOOECOZE1mdIj_PJeXsmHv5CfL51bu2TENyGmQ==" />
  <add name="W1 webavia@ol_rubin" connectionString="I5ZfH55KJ6DkZ7I4BvPrkpHVWrVeTuPWt_BcUfv3z0Ad1wtZoZ1duAAj_tudHnMg2kLHNF8qnmnep5SriVDiNjk5-QTo0VCgxpSFBeFkeEYY_MfaTXgnTX4aOfTMFXJNJsgga_F1AQLWjzCfcpWoF_xDFK6iUpaB_2_B2aAtS3LSuV9-EvBJdKSCoAnoP9MMPuI_pjvoN90T6xJ8BDpfWpwi3Sx50_vmjGVpCnfcPmLiLLsnVa1JF3npkg89R1VnI_l9PKBV-y4FjIubu_ls_T-muSTUoutUB0Gn5YMyv90=" />
  <add name="W3 host 192.168.1.12:8001" connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4due6XGzVhl9zMVZQeAI1Rr0VVu7YEYipXXQntgkMVp4g==" />
  <add name="W3 web  192.168.2.3:8001 " connectionString="4KJn-RvR93YgFQelgwfwPfOgJ3P8Sc2DBnp77xxQO4cf_ZFFK4DjsQM25PWZMLhLqFYjtd9KN7yAl_1eB3NjKw==" />
</connectionStrings>
