<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitMqHost" value="192.168.179.146"/>
    <add key="queueList" value="report-normal"/>
    <add key="workersCachePath" value="d:\workersCachePath\"/>
    <add key="W1" value="miCtg2kV5xz2HR_YA_SBc9FW7DLlxuJretjMPWR6CMaeQHJFUQCprahG7z-rwOGKehAucCJESL-XiIOhAYo-mF7OMzHaYnioX6_z0SBfW6DJI8OTSOqUUXXSOkuZ8nMnnDIysfoD1WgnRaVNPDamAQHQDCoxVt69PIOpGnXi0G5bRlIQuxB30LgWNUTku7fFs8sYkHcnTABPd91DOFFcujiW5NK2K2-dJ3T7iF732jgvT2iUBU5TmZJLUspBBb4i58xzqNzp4jVUGCrE2M8X8hv3sBfwGWcdNqwNgpWm2FQ=" />
    <add key="W2" value="KRKd77zzGx_VKGlvJzRG57Lr0AKvuWCAKrpPOdYA9Ajh-b9cDo-y77RjHuikOHOj" />
    <add key="W3" value="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPmCMopyOOECOZE1mdIj_PJeXsmHv5CfL51bu2TENyGmQ==" />
    <add key="W4" value="miCtg2kV5xz2HR_YA_SBc9FW7DLlxuJretjMPWR6CMaeQHJFUQCprahG7z-rwOGKehAucCJESL-XiIOhAYo-mF7OMzHaYnioX6_z0SBfW6DJI8OTSOqUUXXSOkuZ8nMnnDIysfoD1WgnRaVNPDamAQHQDCoxVt69PIOpGnXi0G5bRlIQuxB30LgWNUTku7fFs8sYkHcnTABPd91DOFFcujiW5NK2K2-dJ3T7iF732jgvT2iUBU5TmZJLUspBBb4i58xzqNzp4jVUGCrE2M8X8hv3sBfwGWcdNqwNgpWm2FQ=" />
    <add key="W6" value="QCiuaReWn5H8zlua70W_kC9SurDjo56BXFrPJX5D--N-VB4dkoZ6iuUuy_dQD3M1qvVBkNYv7TOtrXg9UVxrihzMaGPew4Oa3GD4zpSWjSpwMBkc6qasksEPBIImTg5LDF1Mh4HC5rjNQjrBs3OOBw==" />
    <add key="W10" value="zvGNCbG_-V0GFD5iq7FUrw==" />
    <add key="RemoteExecuteReport" value="SETIJlxNoqkvrK2RkbMEVA==" />
    <add key="QueueHost" value="2Uv9GM2W0dEY4GYOTl5jExdDVPbNXZq1bnpGwUliGRc=" />
  </appSettings>
</configuration>