<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="W1" value="miCtg2kV5xz2HR_YA_SBc9FW7DLlxuJretjMPWR6CMbepjzJIdk_8wjiqTDnm0F3HJVpMieHjAavusEl1zbvPpZjpc3wA5bGYyvDbtuv9BOSYOO492UxorTKw1sYj4PWFFiK0Nr_uhYZn2abp872v4DasTfbayq3cYdeI7jYOslliiXCj2xpQ7PGsMDLo9Gze3JyG66z_dpw4Hi59zsumeqJ3a_5hjWPMMQZvV1RtxIoKottBqFmrFeP1c0fhHEAiVvYDKVqzS8Md7T03BYXDVZi9i2cE-IyBVJzoZbLh3s=" />
    <add key="W2" value="FOW9KhF8RVDp9SkkR4SOvXvlsW_gmeAS03ZS22uNfplM7nVIC3BY_fqRrxh3LFvd" />
    <add key="W3" value="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPmCMopyOOECOZE1mdIj_PJeXsmHv5CfL51bu2TENyGmQ==" />
    <add key="W4" value="miCtg2kV5xz2HR_YA_SBc9FW7DLlxuJretjMPWR6CMbepjzJIdk_8wjiqTDnm0F3HJVpMieHjAavusEl1zbvPpZjpc3wA5bGYyvDbtuv9BOSYOO492UxorTKw1sYj4PWFFiK0Nr_uhYZn2abp872v4DasTfbayq3cYdeI7jYOslliiXCj2xpQ7PGsMDLo9Gze3JyG66z_dpw4Hi59zsumeqJ3a_5hjWPMMQZvV1RtxIoKottBqFmrFeP1c0fhHEAiVvYDKVqzS8Md7T03BYXDVZi9i2cE-IyBVJzoZbLh3s=" />
    <add key="W5" value="4KJn-RvR93YgFQelgwfwPRVU79rLu0XUfjFum6jywYPUQO3PEFJ1_aF2cab2_LuJ1pFZp8wr3_uT4Pufk7HipQ==" />
    <add key="W6" value="0NYH9UV3mIapiIMbt_mANt-pH-1yeUiQ330xggjGrKs=" />
    <add key="W9" value="jBtOGL8ln86oOx57u4bnIw==" />
    <add key="W10" value="rE-TlzQ7bRQPDROQ9pYNUA==" />
    <add key="W11" value="Q7w8cJRJYh-70_c5Kfzx_w==" />
    <add key="DbWaitingTimeout" value="O2mN6Gnl-dDIaFcmN2wiOg==" />
    <add key="FtpHostAddress" value="2Uv9GM2W0dEY4GYOTl5jE4_ulwWXkZs10hVUCiKuhog=" />
    <add key="FtpUserName" value="FOW9KhF8RVDp9SkkR4SOvWirYzFA8_EYwU_PSWDARhM=" />
    <add key="FtpUserPassword" value="u-cjEMZ6iZ-lqlwI9rghX6igqod4mlE7nY5qeiv95e8=" />
    <add key="FtpUseProxy" value="37zkYqcoEXvvscFF41sNow==" />
  </appSettings>

</configuration>