-- web
alter table calc_fon_0 add dat_when DATETIME YEAR to MINUTE;
alter table calc_fon_1 add dat_when DATETIME YEAR to MINUTE;
alter table calc_fon_2 add dat_when DATETIME YEAR to MINUTE;
alter table calc_fon_3 add dat_when DATETIME YEAR to MINUTE;