.print-report-page
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #4B4B4B;
    font-size: 0.82em;
}

.nameTitle
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 1.6em;
    color: #7385D4;
    text-align: center;
    padding: 20px 40px 20px 20px;
}

.descTitle
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 1.6em;
    text-align: center;
    padding: 20px 40px 20px 20px;
}

.textblock
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 20px;
    line-height: 1.6em;
    font-size: 1.6em;
    font-weight:100;
}
