<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Bars NuGet" value="http://nuget.bars-open.ru/api/v2/" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <packageRestore>
      <add key="enabled" value="true" />
    </packageRestore>
  </solution>
  <config>
    <add key="repositorypath" value="..\..\Packages" />
  </config>
</configuration>