<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings file="Connect.config">
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState timeout="120" cookieless="AutoDetect"/>
    <authentication mode="Forms">
      <forms name="MyCookieName" loginUrl="login/login.aspx" timeout="120" defaultUrl="Default.aspx" slidingExpiration="true" cookieless="AutoDetect"/>
    </authentication>
    <profile>
      <properties>
        <add name="ScreenWidth"/>
      </properties>
    </profile>
    <customErrors defaultRedirect="Default.aspx?error=0" mode="RemoteOnly"/>
    <globalization fileEncoding="windows-1251" requestEncoding="windows-1251" responseEncoding="windows-1251" culture="ru-RU" uiCulture="ru-RU"/>
    <pages theme="base" validateRequest="false" masterPageFile="~/master/Bars2.Master" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="360"/>
    <httpHandlers>
      <add path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport"/>
      <add path="ReportHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.ReportHandler"/>
      <add path="MonthsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.MonthsHandler"/>
      <add path="YearsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.YearsHandler"/>
      <add path="ServiceHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.ServiceHandler"/>
      <add path="TypeAndPrmHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.TypeAndPrmHandler"/>
      <add path="AreaHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AreaHandler"/>
      <add path="GeuHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.GeuHandler"/>
      <add path="SupplierHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierHandler"/>
      <add path="FileHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FileHandler"/>
      <add path="DaysHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.DaysHandler"/>
      <add path="RaionsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.RaionsHandler"/>
      <add path="RaionsDomsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.RaionsDomsHandler"/>
      <add path="StreetsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.StreetsHandler"/>
      <add path="AddressHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AddressHandler"/>
      <add path="PrincipalHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.PrincipalHandler"/>
      <add path="AgentHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AgentHandler"/>
      <add path="SupplierRealHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierRealHandler"/>
      <add path="BankSupplierHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.BankSupplierHandler"/>
      <add path="SupplierAndBankHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierAndBankHandler"/>
      <add path="FioHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FioHandler"/>
      <add path="FormingPlaceHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FormingPlaceHandler"/>
      <add path="AccountHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AccountHandler"/>
      <add path="BankHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.BankHandler"/>
      <add path="UchastokHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.UchastokHandler"/>
      <add path="DomParamsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.DomParamsHandler"/>
    </httpHandlers>
    <identity impersonate="false" password="x1" userName="x1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="FastReportHandler"/>
      <add name="FastReportHandler" path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport"/>
      <add name="ReportHandler" path="ReportHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.ReportHandler"/>
      <add name="MonthsHandler" path="MonthsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.MonthsHandler"/>
      <add name="YearsHandler" path="YearsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.YearsHandler"/>
      <add name="ServiceHandler" path="ServiceHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.ServiceHandler"/>
      <add name="TypeAndPrmHandler" path="TypeAndPrmHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.TypeAndPrmHandler"/>
      <add name="AreaHandler" path="AreaHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AreaHandler"/>
      <add name="GeuHandler" path="GeuHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.GeuHandler"/>
      <add name="SupplierHandler" path="SupplierHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierHandler"/>
      <add name="FileHandler" path="FileHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FileHandler"/>
      <add name="DaysHandler" path="DaysHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.DaysHandler"/>
      <add name="RaionsHandler" path="RaionsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.RaionsHandler"/>
      <add name="RaionsDomsHandler" path="RaionsDomsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.RaionsDomsHandler"/>
      <add name="StreetsHandler" path="StreetsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.StreetsHandler"/>
      <add name="AddressHandler" path="AddressHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AddressHandler"/>
      <add name="PrincipalHandler" path="PrincipalHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.PrincipalHandler"/>
      <add name="AgentHandler" path="AgentHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AgentHandler"/>
      <add name="SupplierRealHandler" path="SupplierRealHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierRealHandler"/>
      <add name="BankSupplierHandler" path="BankSupplierHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.BankSupplierHandler"/>
      <add name="SupplierAndBankHandler" path="SupplierAndBankHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.SupplierAndBankHandler"/>
      <add name="FioHandler" path="FioHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FioHandler"/>
      <add name="FormingPlaceHandler" path="FormingPlaceHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.FormingPlaceHandler"/>
      <add name="AccountHandler" path="AccountHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.AccountHandler"/>
      <add name="BankHandler" path="BankHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.BankHandler"/>
      <add name="UchastokHandler" path="UchastokHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.UchastokHandler"/>
      <add name="CheckoutCounterHandler" path="CheckoutCounterHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.CheckoutCounterHandler"/>
      <add name="DomParamsHandler" path="DomParamsHandler.axd" verb="*" type="Bars.KP50.Report.Handlers.Parameters.DomParamsHandler"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IActivationbinding" sendTimeout="00:20:00" receiveTimeout="00:20:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.stcline.ru:3071/ActivationWS.dll/soap/IActivation" binding="basicHttpBinding" bindingConfiguration="IActivationbinding" contract="ActivationService.IActivation" name="IActivationPort"/>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>